
.todo-list-component {
  position: absolute;
  top: 10vh;
  left: 30vw;
  height: auto;
  max-height: 59.8vh;
  width: 32vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.todo-list-container {
  position: absolute;
  height: auto;
  max-height: 59.8vh;
  width: 100%;
}

.add-todo {
  position: fixed;
  margin: 0 !important;
  width: 100%;
}

/* MDL UI Input text override */
.MuiInputBase-input-46 {
  height: 50px !important;
  font-size: 1.5em !important;
}

.list {
  height: auto;
  width: 100%;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.list li {
  position: relative;
  z-index: 1;
  height: 3.5vh;
  width: auto;
  padding: 1em;
}

li:nth-child(2n) {
  background: #d3d3d3;
}

li:hover {
  background: #0e131871;
}

.list-transition-group {
  position: relative;
  height: auto;
  max-height: 59.8vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-right:  1px solid rgba(0, 0, 0, 0.1);
  border-left:  1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 25px;
}

/* Scroll Bar */
.list-transition-group::-webkit-scrollbar {
  width: 2px;
}

.list-transition-group::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .1);
}

.list-transition-group::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.8);
}


/* Todo List Animations */
.move-enter {
  opacity: 0.01;
  transform: translate(-40px, 0)
}

.move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}

.move-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.move-exit-active {
  opacity: 0.01;
  transform: translate(40px, 0);
  transition: all 500ms ease-in;
}